/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.calculator {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 400px;
	margin: auto;
	background-color: #f9fafb;
	border-radius: 12px;
	padding: 20px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.screen {
	background-color: #111827;
	color: #f3f4f6;
	width: 100%;
	padding: 20px;
	font-size: 42px;
	border-radius: 8px;
	margin-bottom: 20px;
}

.screen-result {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-end;
}

.screen-result-exponent {
	font-size: 24px;
}

.screen-operation {
	width: 300px; /* La largeur de l'écran de ta calculatrice */
	height: 50px; /* Hauteur de l'écran */
	overflow: hidden; /* Cache le débordement */
	white-space: nowrap; /* Empêche le texte de passer à la ligne */
	display: flex;
	align-items: center;
	justify-content: flex-start; /* Aligne à gauche */
}

#operation-text {
	font-size: 24px;
	display: inline-block;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	direction: ltr; /* Direction de gauche à droite */
	unicode-bidi: plaintext; /* Affiche les chiffres correctement */
}

.screen-result {
	width: 100%;
	font-size: 48px;
	text-align: right;
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.button {
	width: 22%;
	margin: 8px 0;
	font-size: 24px;
	font-weight: 900;
	padding: 15px;
	background-color: #4b5563;
	color: white;
	text-align: center;
	border-radius: 12px;
	cursor: pointer;
	transition:
		background-color 0.3s ease,
		transform 0.2s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button:hover {
	background-color: #6b7280;
	transform: scale(1.05);
}

.operation {
	background-color: #ef4444;
}

.clear {
	background-color: #f59e0b;
}

@media (max-width: 768px) {
	.screen {
		font-size: 36px;
		padding: 15px;
	}

	.button {
		font-size: 20px;
		padding: 10px;
	}
}

@media (max-width: 480px) {
	.screen {
		font-size: 28px;
		padding: 10px;
	}

	.button {
		font-size: 18px;
		padding: 8px;
	}
}
